.aboutus-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 20px;
}

.aboutus-container {
    height: 500px;
    background: url('../../../assets/images/tiles/brown-tile.png') repeat; 
}

.aboutus-container h1 {
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
    background-clip: text;
    background: linear-gradient(90deg, #FFC700 0%, #E27C05 50%, #FBBD44 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.history-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens na horizontal */
    justify-content: center; /* Centraliza os itens na vertical */
    text-align: center; /* Centraliza o texto dentro das divs */
    max-width: 800px; /* Define a largura máxima para o conteúdo */
    margin: 0 auto; /* Centraliza horizontalmente */
}

.theme-history {
    margin-top: 20px; /* Adiciona espaço entre cada tema */
}

.gallery-text {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-bottom: 20px; /* Adiciona espaço abaixo do elemento */
}

.gallery-text h2 {
    font-size: 24px; /* Define o tamanho da fonte para o título */
    color: #333; /* Define a cor do título */
}

.gallery-text p {
    font-size: 16px; /* Define o tamanho da fonte para o parágrafo */
    color: #666; /* Define a cor do texto do parágrafo */
}
.gallery{
    background: rgba(215, 120, 32, 0.45);

}
.gallery-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .fade-out {
      opacity: 0; /* Opacidade 0 para esconder a imagem */
    }
    
    .fade-in {
      opacity: 1; /* Opacidade 1 para exibir a nova imagem */
    }

    #big-frame{
      transition: opacity 0.5s ease; /* Transição suave para a opacidade */
      width: 1134px;

      img{
        height: 636px;
        width: 1134px;
        object-fit: cover;
      }
    }
    .small-frames{
      display: flex;
      flex-wrap: nowrap;
      width: 1134px;
      height: 173px;
      box-sizing: border-box;
      padding: 10px;
      overflow-x: scroll;

      img{
        height: 100%;
        margin-right: 10px;      
      }
    }
  }

  .mapa-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.mapa-wrapper {
    width: 80%; /* Define a largura do mapa */
}

.mapa-wrapper iframe {
    width: 100%; /* Define a largura do iframe como 100% para preencher o wrapper */
    height: 500px; /* Define a altura do mapa */
}