<div class="about-us-container">
    <div class="about-us-image">
        <img src="../../../assets/images/imagem1_container_art.png" alt="Descrição da imagem">
    </div>
    <div class="about-us-description">
        <h1>About Us</h1>
        <p>The Origin Museum offers a captivating journey through art, history, and culture. Explore our diverse collections 
            and engaging exhibitions that inspire and educate visitors of all ages. Join Us
        </p>
        <button class="botao">Tickets</button>
    </div>
</div>
<div class="about-museum-box">
    <div class="text-museum">
        <h2>Título da Caixa</h2>
        <p>Este é o conteúdo de texto ao lado esquerdo da caixa. Pode incluir várias linhas de texto, descrições ou qualquer outra informação relevante.</p>
    </div>
    <div class="image-museum">
        <img src="../../../assets/images/sculptures_art.jpg" alt="Imagem quadrada">
    </div>
</div>