<div class="section-1">
    <h1 class="kufam-regular">Fossils and Pre-Historic Creatures</h1>
    <p class="kufam-regular">See the most famous attractions in each exhibition in the Fossils and Pre-Historic Creatures division</p>
</div>
<div class="ex-showcase">
    <div class="ex-text">
        <h2 class="kufam-regular">Dinosaur Fossils</h2>
        <p class="kufam-regular">The "Dinosaur Fossils" exhibit features a fascinating collection of dinosaur skeletons and fossilized remains. Highlights include the complete skeleton of a Tyrannosaurus Rex, fossilized eggs, etc... This exhibition offers a detailed view of the life, reproduction and behavior of the giants that dominated the Earth during the Mesozoic.</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/fossils/ex-fossils1.jpg">
                <p class="kufam-regular">Tyrannosaurus Rex Complete Skeleton: A mounted skeleton of a T. rex, showing its imposing structure and sharp teeth, exemplifying one of the largest predators of the dinosaur era.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/fossils/ex-fossils2.jpg">
                <p class="kufam-regular">Tyrannosaurus Rex Complete Skeleton: A mounted skeleton of a T. rex, showing its imposing structure and sharp teeth, exemplifying one of the largest predators of the dinosaur era.</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/fossils/ex-fossils3.jpg">
                <p class="kufam-regular">"Tyrannosaurus Rex Complete Skeleton: A mounted skeleton of a T. rex, showing its imposing structure and sharp teeth, exemplifying one of the largest predators of the dinosaur era.</p>
            </div>
        </div>
    </div>
</div>
<div class="ex-showcase variant">
    <div class="ex-text">
        <h2 class="kufam-regular">Pre-historic Animal Fossils</h2>
        <p class="kufam-regular">The "Prehistoric Fossils" exhibit offers a journey into the ancient past, featuring fossils of organisms that inhabited the Earth before and during the age of dinosaurs. This exhibit illustrates the diversity of ancient life and the first steps in the evolution of complex life on the planet.</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/fossils/ex-fossils4.jpg">
                <p class="kufam-regular">Trilobite Fossil: A fossil of a trilobite, one of the earliest forms of complex life on Earth, dating to the Cambrian period.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/fossils/ex-fossils5.jpg">
                <p class="kufam-regular">Fossil of a Mammoth: Complete skeleton of a mammoth 
                    that existed more than 15 thousand years ago.</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/fossils/ex-fossils6.jpg">
                <p class="kufam-regular">Prehistoric Fish Fossil Plate: A sedimentary plate 
                    containing fossils of fish that inhabited 
                    prehistoric seas, showing the diversity of ancient 
                    aquatic life.</p>
            </div>
        </div>
    </div>
</div>
<div class="ex-showcase">
    <div class="ex-text">
        <h2 class="kufam-regular">Jurassic World</h2>
        <p class="kufam-regular">It's in the Jurassic World exhibition that you can see your favorite dinosaurs as if they had never disappeared! Here you will be able to find out more about each Dinosaur and their daily life (at least what is known about it).</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/fossils/ex-fossils7.png">
                <p class="kufam-regular">Replica of a T-rex: Figure of the T-rex dinosaur in all its splendor, showcasing its formidable teeth, powerful jaws, and massive size, giving visitors a glimpse into the life of one of the most fearsome predators to ever walk the Earth.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/fossils/ex-fossils8.jpg">
                <p class="kufam-regular">Replica of a Brachiosaurus: Life-size Brachiosaurus 
                    dinosaur figure, standing tall with its long neck 
                    reaching towards the sky, illustrating the grandeur 
                    and unique posture of this gentle giant that 
                    roamed the Jurassic forests millions of years ago.</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/fossils/ex-fossils9.jpg">
                <p class="kufam-regular">Replica of a Brachiosaurus: Life-size Brachiosaurus 
                    dinosaur figure, standing tall with its long neck 
                    reaching towards the sky, illustrating the grandeur 
                    and unique posture of this gentle giant that 
                    roamed the Jurassic forests millions of years ago.</p>
            </div>
        </div>
    </div>
</div>
<div class="ex-showcase variant">
    <div class="ex-text">
        <h2 class="kufam-regular">Natural history</h2>
        <p class="kufam-regular">"Nature World (Animals that are Extinct)" celebrates the memory of species that have disappeared due to climate change and human activity, providing an in-depth look at the lives and extinctions of large historic mammals and birds.</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/fossils/ex-fossils10.jpg">
                <p class="kufam-regular">Replica of a dodo: A sculpted and painted replica of the Dodo, an iconic bird that inhabited Mauritius and became extinct in the 17th century.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/fossils/ex-fossils11.jpg">
                <p class="kufam-regular">Replica of a Megalodon: A replica of the Megalodon, one of the largest sharks to ever exist, providing an impressive insight into the size and power of this prehistoric marine predator.</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/fossils/ex-fossils12.jpg">
                <p class="kufam-regular">Replica of a saber-toothed tiger: Figure of the saber-toothed tiger animal that embodies the ferocity and power of this ancient predator.</p>
            </div>
        </div>
    </div>
</div>