<div class="section-1">
    <div class="left-in-section">
        <img class="image-border-1" src="../../../assets/images/egypt/egito1.jpeg" alt="Descrição da imagem">
    </div>
    <div class="right-in-section-1">
        <h1 class="kufam-regular">Egypt</h1>
        <p class="kufam-regular">The Origin Museum offers a captivating journey through art, history, and culture. Explore our diverse collections 
          and engaging exhibitions that inspire and educate visitors of all ages. Join Us
        </p>
        <a class="botao" href="/tickets">Tickets</a>
      </div>
  </div>
  
  <div class="section-2">
      <div class="left-in-section">
          <img class="image-border-2" src="../../../assets/images/egypt/egito2.png" alt="Descrição da imagem">
      </div>
      <div class="right-in-section-2">
          <h1 class="kufam-regular">Division of Egypt</h1>
          <p class="kufam-regular">It is in this division that you will find all the history that the ancient Egyptians left us behind! 
            In addition to various artifacts and objects of great value, we will have fun ways to learn more about this ancient civilization.
          </p>
      </div>
  </div>
  
  <div class="exhibitions">
  
    <div class="exhibition-text">
      <h2 class="kufam-regular">Exhibitions</h2>
      <p class="kufam-regular">Discover All The Exhibitions We Have To Offer At The Museum!</p>
    </div>
  
    <div class="exhibition-grid">
      <div class="exhibition-item">
        <img src="../../../assets/images/egypt/egito3.jpg" alt="Pharaohs And Dynasties">
        <div class="comment-box">
          <p class="kufam-regular">Pharaohs And Dynasties</p>
        </div>
      </div>
      <div class="exhibition-item">
        <img src="../../../assets/images/egypt/egito4.png" alt="Religion and Mythology">
        <div class="comment-box">
          <p class="kufam-regular">Religion and Mythology"</p>
        </div>
      </div>
      <div class="exhibition-item">
        <img src="../../../assets/images/egypt/egito5.png" alt="Mummies and Funerary Practices">
        <div class="comment-box">
          <p class="kufam-regular">Mummies and Funerary Practices</p>
        </div>
      </div>
      <div class="exhibition-item">
        <img src="../../../assets/images/egypt/egito6.jpg" alt="Treasures and Jewels">
        <div class="comment-box">
          <p class="kufam-regular">Treasures and Jewels</p>
        </div>
      </div>
      <div class="exhibition-item">
        <img src="../../../assets/images/egypt/egito7.png" alt="History over the years">
        <div class="comment-box">
          <p class="kufam-regular">History over the years</p>
        </div>
      </div>
      <div class="exhibition-item">
        <img src="../../../assets/images/egypt/egito8.jpg" alt="Writing and Communication">
        <div class="comment-box">
          <p class="kufam-regular">Writing and Communication</p>
        </div>
      </div>
    </div>
    <a class="botao_ver kufam-regular" href="/exhibition/egypt">Read More</a>
  </div>
  
  <div class="gallery">
    <div class="gallery-text">
      <h2 class="kufam-regular">Photo Gallery</h2>
      <p class="kufam-regular">See some photos of our exhibitions!</p>
    </div>
  
    <div class="gallery-display">
      <div id="big-frame">
        <img [src]="bigFrameImage" alt="Not loading">
      </div>
  
      <div class="small-frames">
        <img src="../../../assets/images/egypt/gallery1.jpg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/egypt/gallery1.jpg")'>
        <img src="../../../assets/images/egypt/gallery2.jpg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/egypt/gallery2.jpg")'>
        <img src="../../../assets/images/egypt/gallery3.jpeg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/egypt/gallery3.jpeg")'>
        <img src="../../../assets/images/egypt/gallery4.jpg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/egypt/gallery4.jpg")'>
        <img src="../../../assets/images/egypt/gallery5.jpg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/egypt/gallery5.jpg")'>
        <img src="../../../assets/images/egypt/gallery6.jpg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/egypt/gallery6.jpg")'>
  
      </div>
    </div>
    
  </div>
  
  