<div class="section-1">
    <h1 class="kufam-regular">Exhibitions of Art</h1>
    <p class="kufam-regular">See the most famous attractions in each exhibition in the Art division</p>
</div>
<div class="ex-showcase">
    <div class="ex-text">
        <h2 class="kufam-regular">Classical and Ancient Art</h2>
        <p class="kufam-regular">This exhibition transports visitors back to the ancient times of Greece and Rome, featuring works of art that reflect the beliefs, values ​​and mythologies of these ancient civilizations. From Greek vases adorned with mythological scenes to enigmatic sculptures, the artifacts on display offer a fascinating window into the distant past and the richness of artistic expression of these ancient cultures.</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-1.jpg">
                <p class="kufam-regular">Greek Vase: A Greek ceramic vase from the Classical period, decorated with mythological scenes and intricate patterns, representing the art and culture of Ancient Greece.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-2.jpg">
                <p class="kufam-regular">Roman Mosaic: A fragment of a Roman mosaic that 
                    depicts scenes from everyday Roman life, such as 
                    banquets or hunting scenes, demonstrating the 
                    skill and technical sophistication of Roman artists.</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-3.jpg">
                <p class="kufam-regular">"The School of Athens" - Raphael: One of the 
                    most famous works of the Renaissance, it 
                    portrays Greek philosophers such as Plato and 
                    Aristotle in a grand architectural environment, 
                    symbolizing the intellectual flowering of 
                    Antiquity.</p>
            </div>
        </div>
    </div>
</div>
<div class="ex-showcase variant">
    <div class="ex-text">
        <h2 class="kufam-regular">Classical and Ancient Art</h2>
        <p class="kufam-regular">This exhibition transports visitors back to the ancient times of Greece and Rome, featuring works of art that reflect the beliefs, values ​​and mythologies of these ancient civilizations. From Greek vases adorned with mythological scenes to enigmatic sculptures, the artifacts on display offer a fascinating window into the distant past and the richness of artistic expression of these ancient cultures.</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-1.jpg">
                <p class="kufam-regular">Greek Vase: A Greek ceramic vase from the Classical period, decorated with mythological scenes and intricate patterns, representing the art and culture of Ancient Greece.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-2.jpg">
                <p class="kufam-regular">Roman Mosaic: A fragment of a Roman mosaic that 
                    depicts scenes from everyday Roman life, such as 
                    banquets or hunting scenes, demonstrating the 
                    skill and technical sophistication of Roman artists.</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-3.jpg">
                <p class="kufam-regular">"The School of Athens" - Raphael: One of the 
                    most famous works of the Renaissance, it 
                    portrays Greek philosophers such as Plato and 
                    Aristotle in a grand architectural environment, 
                    symbolizing the intellectual flowering of 
                    Antiquity.</p>
            </div>
        </div>
    </div>
</div>