<div class="section-1">
    <h1 class="kufam-regular">Exhibitions of Art</h1>
    <p class="kufam-regular">See the most famous attractions in each exhibition in the Art division</p>
</div>
<div class="ex-showcase">
    <div class="ex-text">
        <h2 class="kufam-regular">Classical and Ancient Art</h2>
        <p class="kufam-regular">This exhibition transports visitors back to the ancient times of Greece and Rome, featuring works of art that reflect the beliefs, values ​​and mythologies of these ancient civilizations. From Greek vases adorned with mythological scenes to enigmatic sculptures, the artifacts on display offer a fascinating window into the distant past and the richness of artistic expression of these ancient cultures.</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-1.jpg">
                <p class="kufam-regular">Greek Vase: A Greek ceramic vase from the Classical period, decorated with mythological scenes and intricate patterns, representing the art and culture of Ancient Greece.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-2.jpg">
                <p class="kufam-regular">Roman Mosaic: A fragment of a Roman mosaic that 
                    depicts scenes from everyday Roman life, such as 
                    banquets or hunting scenes, demonstrating the 
                    skill and technical sophistication of Roman artists.</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-3.jpg">
                <p class="kufam-regular">"The School of Athens" - Raphael: One of the 
                    most famous works of the Renaissance, it 
                    portrays Greek philosophers such as Plato and 
                    Aristotle in a grand architectural environment, 
                    symbolizing the intellectual flowering of 
                    Antiquity.</p>
            </div>
        </div>
    </div>
</div>
<div class="ex-showcase variant">
    <div class="ex-text">
        <h2 class="kufam-regular">Medieval Art</h2>
        <p class="kufam-regular">In this exhibition, visitors are immersed in the era of the Middle Ages, where art was inextricably linked to religion and everyday life. Vivid lighting, detailed sculptures, and narrative tapestries transport viewers to a world of knights, castles, and spiritual fervor. Each work reveals the values, beliefs and technical mastery of medieval artists, capturing the spirituality and unique atmosphere of the time.</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-4.jpg">
                <p class="kufam-regular">Medieval Illumination: An illuminated manuscript with detailed illustrations and ornate lettering, representing the art of the Middle Ages and the rich tradition of copyist monks.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-5.jpg">
                <p class="kufam-regular">Medieval Tapestry: A section of a medieval 
                    tapestry, woven with colorful threads and 
                    depicting scenes of battle, hunting, or courtly 
                    scenes, highlighting the skill of medieval 
                    weavers and their storytelling talent.</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-6.jpg">
                <p class="kufam-regular">Medieval Armor and Weapons: A set of weapons and 
                    armor used in medieval times.</p>
            </div>
        </div>
    </div>
</div>
<div class="ex-showcase">
    <div class="ex-text">
        <h2 class="kufam-regular">Sculptures</h2>
        <p class="kufam-regular">This exhibition celebrates sculptural tradition over the centuries, highlighting the skill and creativity of sculptors across different eras and styles. From the perfect contours of the Renaissance to the dramatic forms of the Baroque and contemporary experimentation, each work on display reveals artists ability to bring three-dimensional forms to life and express a range of emotions and ideas through sculpture.</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-7.jpg">
                <p class="kufam-regular">"David" - Michelangelo: A replica of a sculpture by Michelangelo, "David" which represents the biblical hero David, from the Old Testament, moments before facing the giant Goliath.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-8.jpg">
                <p class="kufam-regular">"Ecstasy of Saint Teresa" - Gian Lorenzo Bernini: It is one of Bernini's most famous masterpieces and exemplifies the dramatization characteristic of Baroque sculpture.</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-9.jpg">
                <p class="kufam-regular">"Le Penseur" (The Thinker) - Auguste Rodin: is a sculpture 
                    created by Auguste Rodin between 1880 and 1882. 
                    The sculpture depicts a moment of deep thought and 
                    contemplation, capturing the muscular tension and 
                    concentrated expression of the subject.</p>
            </div>
        </div>
    </div>
</div>
<div class="ex-showcase variant">
    <div class="ex-text">
        <h2 class="kufam-regular">Modern Art</h2>
        <p class="kufam-regular">In this exhibition, visitors are invited to explore the revolutionary artistic movements of the 19th and 20th centuries, which challenged traditional conventions and redefined art. From Picasso's Cubism to provocative Dadaist works and contemporary installations, each work on display offers a unique insight into the social, political and technological changes that have shaped modern art.</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-10.jpg">
                <p class="kufam-regular">"Balloon Flower (Magenta)" - Jeff Koons: One of Koons' best-known works, this giant inflatable flower-shaped sculpture is made from color-coated stainless steel and is emblematic of his pop and provocative aesthetic.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-11.jpg">
                <p class="kufam-regular">"Maman" - Louise Bourgeois: This giant sculpture of a 
                    spider, made of bronze, steel and marble, is a symbolic 
                    representation of motherhood and protection, 
                    exploring themes of fragility and strength.</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-12.jpg">
                <p class="kufam-regular">"For the Love of God" - Damien Hirst (2007): A human skull sculpture made entirely of platinum and encrusted with 8,601 diamonds, this work by Hirst challenges concepts 
                    of mortality, luxury and value in contemporary society.</p>
            </div>
        </div>
    </div>
</div>
<div class="ex-showcase">
    <div class="ex-text">
        <h2 class="kufam-regular">Painters and their history</h2>
        <p class="kufam-regular">This exhibition is a fascinating journey through art history, highlighting the painters and artistic movements that shaped the world of painting. From the Renaissance masters to the Impressionists, each section of the exhibition immerses visitors in the lives, techniques and influences of the most renowned painters of all time.</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-13.jpg">
                <p class="kufam-regular">Leonardo da Vinci was one of the most influential artists of the Italian Renaissance. In addition to his skills as a painter, he was a visionary inventor, scientist, and anatomist. Her most famous work is the "Mona Lisa", known for her enigmatic smile.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-14.jpg">
                <p class="kufam-regular">Van Gogh was one of the most emblematic artists of post-
                    impressionism. His work is known for its bold brushstrokes 
                    and vibrant colors. Despite personal struggles and 
                    financial difficulties during his life, he produced some of 
                    the most recognized paintings in art history, including 
                    "Starry Night", "Sunflowers" and "The Potato Eaters".</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/art/ex-art-15.jpg">
                <p class="kufam-regular">Pablo Picasso was one of the most influential artists of 
                    the 20th century and one of the founders of cubism. 
                    His work spans a wide range of styles and periods, 
                    including the Blue period, Rose period and his Cubist 
                    phase. Among his most famous works are 
                    "Les Demoiselles d'Avignon" and "Guernica"</p>
            </div>
        </div>
    </div>
</div>