.contact-container,.send-email, .contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
    padding: 20px;
}

.contact-container{
    background: url('../../../assets/images/tiles/brown-tile.png') repeat;
    height: 553px;
  }

.contact-container h1 {
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
    background: linear-gradient(90deg, #FFC700 0%, #E27C05 50.5%, #FBBD44 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.email-input {
    width: calc(100% - 40px); 
    padding: 5px; 
}

.send-button {
    border-radius: 5px;
    background: #3BBCE4;
    color: white;
    border: none;
    padding: 10px 148px; 
    cursor: pointer; 
}

.send-button:hover {
    background: #2a8cad; 
}

