<div class="contact-container kufam-regular">
    <h1>Contact</h1>
</div>

<div class="contact-info kufam-regular">
    <h3>Contacts</h3>
    <ul>
        <li>Address: IPCA Rua da EST, Lugar do Aldão, Barcelos, 4750-810</li>
        <li>Phone: +351 913 055 230</li>
        <li>Email: contact&#64;museumorigin.org</li>
    </ul>
</div>

<div class="send-email kufam-regular">
    <h3>Send us an Email</h3>
    <form (submit)="onFormSubmit($event)">
        <input type="text" id="email-title" name="email-title" class="email-input kufam-regular" placeholder="Title" /><br><br>
        <textarea id="email-content" name="email-content" class="email-input kufam-regular" rows="10" cols="30" placeholder="Write something..."></textarea><br><br>
        <button type="submit" class="send-button kufam-regular">Send</button>
    </form>
</div>

<!-- Pop-up container for success message -->
<div id="popup-success" class="popup">
    <div class="popup-content">
        <span class="close-button" (click)="closePopup('popup-success')">&times;</span>
        <h2>Success!</h2>
        <p>Email sent successfully!</p>
    </div>
</div>

<!-- Pop-up container for error message -->
<div id="popup-error" class="popup">
    <div class="popup-content">
        <span class="close-button" (click)="closePopup('popup-error')">&times;</span>
        <h2>Error!</h2>
        <p>Please fill in all fields.</p>
    </div>
</div>
