.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.footer-left{
    display: flex;
    flex-direction: column;
}

.icon-holder{
    display: flex;

    img{
        width: 70px;
        height: 70px;
    }
}