<footer class="footer">
    <div class="footer-left">
        <img src="../../assets/images/logotipo.png" alt="Origin Museum Logo">
        <h3>Origin Museum</h3>
        <div class="social-media">
            <p>Social Media:</p>
            <a href="https://www.facebook.com/seufacebook">Facebook</a>
            <a href="https://www.instagram.com/seuinstagram">Instagram</a>
        </div>
    </div>
    <div class="contact-info">
        <p>Contact Information:</p>
        <ul>
            <li>Address: <address>IPCA Rua da EST, Lugar do Aldão, Barcelos, 4750-810</address></li>
            <li>Phone: +351 913 055 230</li>
            <li>Email: contactccmuseuorigin.org</li>
        </ul>
    </div>
</footer>