<footer class="footer">
    <div class="footer-left">
        <div class="icon-holder">
            <img src="../../assets/images/logotipo.png" alt="Origin Museum Logo">
            <h3 class="kufam-regular">Origin Museum</h3>
        </div>
        <div class="social-media">
            <p class="kufam-regular">Social Media:</p>
            <ul>
                <li><a class="kufam-regular" href="https://www.facebook.com/">Facebook</a></li>
                <li><a class="kufam-regular" href="https://www.instagram.com/">Instagram</a></li>
            </ul>
            
        </div>
    </div>
    <div class="contact-info">
        <p class="kufam-regular">Contact Information:</p>
        <ul>
            <li class="kufam-regular">Address: IPCA Rua da EST, Lugar do Aldão, Barcelos, 4750-810</li>
            <li class="kufam-regular">Phone: +351 913 055 230</li>
            <li class="kufam-regular">Email: contactccmuseuorigin.org</li>
        </ul>
    </div>
</footer>