<div class="section-1">
    <div class="left-in-section">
        <img class="image-border-1" src="../../../assets/images/fossils/fossils1.jpg" alt="Descrição da imagem">
    </div>
    <div class="right-in-section-1">
        <h1 class="kufam-regular">Fossils and Pre-Historic Creatures</h1>
        <p class="kufam-regular">The Origin Museum offers a captivating journey through art, history, and culture. Explore our diverse collections 
          and engaging exhibitions that inspire and educate visitors of all ages. Join Us
        </p>
        <button class="botao">Tickets</button>
    </div>
  </div>
  
  <div class="section-2">
      <div class="left-in-section">
          <img class="image-border-2" src="../../../assets/images/fossils/fossil.jpg" alt="Descrição da imagem">
      </div>
      <div class="right-in-section-2">
          <h1 class="kufam-regular">Division of Fossils and Pre-Historic Creatures</h1>
          <p class="kufam-regular">In the fossil division you will be able to admire all the ancient fossils and the history left behind in each one! 
            Furthermore, you will discover a new world with the Jurassic World and all the dinosaurs that existed in the past.
          </p>
      </div>
  </div>
  
  <div class="exhibitions">
  
    <div class="exhibition-text">
      <h2 class="kufam-regular">Exhibitions</h2>
      <p class="kufam-regular">Discover All The Exhibitions We Have To Offer At The Museum!</p>
    </div>
  
    <div class="exhibition-grid">
      <div class="exhibition-item">
        <img src="../../../assets/images/fossils/fossils2.jpg" alt="Dinossaur Fossils">
        <div class="comment-box">
          <p class="kufam-regular">Dinossaur Fossils</p>
        </div>
      </div>
      <div class="exhibition-item">
        <img src="../../../assets/images/fossils/fossils3.jpg" alt="Pre-Historic Fossils">
        <div class="comment-box">
          <p class="kufam-regular">Pre-Historic Fossils"</p>
        </div>
      </div>
      <div class="exhibition-item">
        <img src="../../../assets/images/fossils/jurassicworld.jpg" alt="Jurassic World">
        <div class="comment-box">
          <p class="kufam-regular">Jurassic World</p>
        </div>
      </div>
      <div class="exhibition-item">
        <img src="../../../assets/images/fossils/naturalhistory.JPG" alt="Natural History">
        <div class="comment-box">
          <p class="kufam-regular">Natural History</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="gallery">
    <div class="gallery-text">
      <h2>Photo Gallery</h2>
      <p>See some photos of our exhibitions!</p>
    </div>
  
    <div class="gallery-display">
      <div id="big-frame">
        <img [src]="bigFrameImage" alt="Not loading">
      </div>
  
      <div class="small-frames">
        <img src="../../../assets/images/fossils/photogallery1.jpg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/fossils/photogallery1.jpg")'>
        <img src="../../../assets/images/fossils/photogallery2.jpg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/fossils/photogallery2.jpg")'>
        <img src="../../../assets/images/fossils/photogallery3.jpg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/fossils/photogallery3.jpg")'>
        <img src="../../../assets/images/fossils/photogallery4.jpg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/fossils/photogallery4.jpg")'>
        <img src="../../../assets/images/fossils/photogallery5.jpg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/fossils/photogallery5.jpg")'>
        <img src="../../../assets/images/fossils/photogallery6.jpg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/fossils/photogallery6.jpg")'>
  
      </div>
    </div>
    
  </div>
  
  