<div class="section-1">
    <h1 class="kufam-regular">Exhibitions of Ancient Egypt</h1>
    <p class="kufam-regular">See the most famous attractions in each exhibition in the Ancient Egypt division</p>
</div>
<div class="ex-showcase">
    <div class="ex-text">
        <h2 class="kufam-regular">Pharaohs And Dynasties</h2>
        <p class="kufam-regular">Ancient Egypt is famous for its pharaohs and dynasties, which ruled for more than three thousand years. Pharaohs such as Tutankhamun and Ramesses II are known for their cultural and monumental contributions, such as the pyramids and temples.  Dynasties organize the pharaohs into historical periods, helping to understand the political and cultural evolution of this fascinating civilization.</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-1.jpg">
                <p class="kufam-regular">Stele of Narmer: A stone stele dated to the 
                    pre-dynastic period, representing the pharaoh 
                    Narmer wearing the double crown, symbolizing the 
                    unification of Upper and Lower Egypt.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-2.jpeg">
                <p class="kufam-regular">Statue of Hatshepsut: A statue representing the 
                    pharaoh queen Hatshepsut, one of the few women 
                    to rule Egypt, known for her trade and construction 
                    campaigns.</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-3.jpg">
                <p class="kufam-regular">Amenhotep III Statue: A colossal statue of the 
                    pharaoh Amenhotep III, known for his 
                    monumental building projects, including 
                    the Luxor Temple.</p>
            </div>
        </div>
    </div>
</div>
<div class="ex-showcase variant">
    <div class="ex-text">
        <h2 class="kufam-regular">Religion and Mythology</h2>
        <p class="kufam-regular">Ancient Egyptian religion and mythology were central to Egyptian life, with gods such as Ra and Isis playing important roles. The myths explained creation, the afterlife, and the divine role of the pharaohs. Rituals and festivals were common, reflecting the deep spirituality of the culture.</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-4.png">
                <p class="kufam-regular">Statue of Isis: A bronze statue representing the goddess Isis, associated with motherhood, magic and protection, often depicted with ibis wings.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-5.jpg">
                <p class="kufam-regular">Book of the Dead Papyrus: A scroll of papyrus 
                    richly decorated with passages from the Book 
                    of the Dead, a funerary text that guided the 
                    dead in the afterlife.</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-6.png">
                <p class="kufam-regular">Ankh Amulet: An amulet shaped like an ansata cross, 
                    known as an "ankh", which symbolized eternal life and 
                    was often used in religious and funeral rituals.</p>
            </div>
        </div>
    </div>
</div>
<div class="ex-showcase">
    <div class="ex-text">
        <h2 class="kufam-regular">Mummies and Funerary Practices</h2>
        <p class="kufam-regular">Mummification and funeral rituals were fundamental in Ancient Egypt, aiming to guarantee life after death. The Egyptians preserved bodies through mummification and buried the dead with valuable objects, food and amulets. Elaborate tombs, such as the pyramids and the Valley of the Kings, reflected the belief in the importance of preparing for the journey to the afterlife.</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-7.jpg">
                <p class="kufam-regular">Mummy of Pharaoh Amenhotep I: A well-preserved mummy of a pharaoh, wrapped in sash decorated with amulets and inscriptions to protect the deceased in the afterlife.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-8.jpg">
                <p class="kufam-regular">Wooden Sarcophagus: A richly decorated wooden 
                    sarcophagus, which once contained the remains 
                    of an Ancient Egyptian nobleman or priest.</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-9.jpg">
                <p class="kufam-regular">Canopic Vessels: Stone or ceramic vessels used 
                    to store the internal organs of the deceased 
                    during the mummification process, each protected 
                    by one of the four sons of Horus.</p>
            </div>
        </div>
    </div>
</div>
<div class="ex-showcase variant">
    <div class="ex-text">
        <h2 class="kufam-regular">Treasures and Jewels</h2>
        <p class="kufam-regular">Ancient Egypt is famous for its treasures and jewelry, which symbolized power and protection. Pharaohs and nobles were buried with ornaments of gold, precious stones and intricate amulets. These artifacts, found in tombs like Tutankhamun's, show the craftsmanship and richness of Egyptian culture.</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-10.jpg">
                <p class="kufam-regular">Tutankhamun Funeral Mask: The famous solid gold funerary mask of the young pharaoh Tutankhamun, adorned with precious stones and representing his divinity.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-11.jpeg">
                <p class="kufam-regular">Bracelet of Thutmose III: A gold bracelet belonging to 
                    Pharaoh Thutmose III, decorated with inscriptions and 
                    symbolic motifs.</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-12.jpg">
                <p class="kufam-regular">"Anubis Ark": From the tomb of King Tutankhamun is 
                    one of the most famous and iconic artifacts discovered 
                    in the young pharaoh's tomb. It is a small chest made of 
                    gilded wood, decorated with images and hieroglyphics, 
                    and containing the representation of Anubis, 
                    the Egyptian god associated with death and the afterlife.</p>
            </div>
        </div>
    </div>
</div>
<div class="ex-showcase">
    <div class="ex-text">
        <h2 class="kufam-regular">History over the years</h2>
        <p class="kufam-regular">The history of Ancient Egypt is a long and fascinating narrative, marked by political, cultural and social changes over millennia. From the earliest civilizations to the great pharaohs and the decline of empire, Egypt has witnessed a unique journey that influenced the ancient world and continues to fascinate humanity to this day.</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-13.jpg">
                <p class="kufam-regular">Rosetta Stone: A replica of the famous Rosetta Stone, which was instrumental in deciphering Egyptian hieroglyphs and unlocking the secrets of ancient writing.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-14.jpg">
                <p class="kufam-regular">Granite Head of Amenemhat III: A granite head of the 
                    12th Dynasty pharaoh Amenemhat III, representing 
                    stability and prosperity during his reign.</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-15.jpg">
                <p class="kufam-regular">Amarna Papyrus: A papyrus containing diplomatic 
                    correspondence and letters found in the city of Amarna, 
                    revealing insights into Akhenaten's reign and 
                    the Amarnian Revolution.</p>
            </div>
        </div>
    </div>
</div>
<div class="ex-showcase variant">
    <div class="ex-text">
        <h2 class="kufam-regular">Writing and Communication</h2>
        <p class="kufam-regular">Writing was essential to the ancient Egyptians, using hieroglyphics to record information on monuments, papyrus, and everyday objects. These writing systems allowed communication and preservation of knowledge across generations.</p>
    </div>
    <div class="ex-group">
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-16.png">
                <p class="kufam-regular">Inscriptional Papyrus: A fragment of papyrus containing hieroglyphic and hieratic inscriptions, exemplifying the different writing systems used in Ancient Egypt.</p>
            </div>
        </div>
        <div class="ex-box right">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-17.png">
                <p class="kufam-regular">Medicine Codex: An ancient codex containing medical 
                    texts and recipes, showing the writing used to 
                    document knowledge about medicine and healing 
                    in ancient times.</p>
            </div>
        </div>
        <div class="ex-box left">
            <div class="ex-unit">
                <img src="../../../../assets/images/egypt/ex-egypt-18.jpg">
                <p class="kufam-regular">Hammurabi's Law Stele: A stele containing the Code of 
                    Hammurabi, showing the influence of Babylonian laws 
                    in Ancient Egypt during the Second Intermediate Period.</p>
            </div>
        </div>
    </div>
</div>