<div class="art-container">
    <div class="art-image">
        <img src="../../../assets/images/imagem1_container_art.png" alt="Descrição da imagem">
    </div>
    <div class="art-description">
        <h1>Art</h1>
        <p>The Origin Museum offers a captivating journey through art, history, and culture. Explore our diverse collections 
            and engaging exhibitions that inspire and educate visitors of all ages. Join Us
        </p>
        <button class="botao">Tickets</button>
    </div>
</div>
<div class="divison_of_Art-container">
    <div class="divison_of_Art-secondimage">
        <img src="../../../assets/images/imagem2_container_art.jpg" alt="Descrição da imagem">
    </div>
    <div class="divison_of_Art-description">
        <h1>Division of Art</h1>
        <p>In the art division we can glimpse with our own eyes each painting, sculpture, and artistic object that is presented.
            Each exhibition has its own unique feature and you will have different experiences in each one!
        </p>
    </div>
</div>
<div class="exhibitions">
    <h2>Exhibitions</h2>
    <p>
      Discover All The Exhibitions We Have To Offer At The Museum!
    </p>
    <div class="exhibition-grid">
      <div class="exhibition-item">
        <img src="../../../assets/images/classic_art.jpg" alt="Classical and Ancient Art">
        <div class="comment-box">
          <p>Classical And Ancient Art</p>
        </div>
      </div>
      <div class="exhibition-item">
        <img src="../../../assets/images/medieval_art.jpg" alt="Medieval Art">
        <div class="comment-box">
          <p>Medieval Art</p>
        </div>
      </div>
      <div class="exhibition-item">
        <img src="../../../assets/images/sculptures_art.jpg" alt="Sculptures">
        <div class="comment-box">
          <p>Sculptures</p>
        </div>
      </div>
      <div class="exhibition-item">
        <img src="../../../assets/images/modern_art.png" alt="Modern Art">
        <div class="comment-box">
          <p>Modern Art</p>
        </div>
      </div>
      <div class="exhibition-item">
        <img src="../../../assets/images/painters_art.jpg" alt="Painters and Their History">
        <div class="comment-box">
          <p>Painters And Their History</p>
        </div>
      </div>
    </div>