<div class="section-1">
  <div class="left-in-section">
      <img class="image-border-1" src="../../../assets/images/art/imagem1_container_art.png" alt="Descrição da imagem">
  </div>
  <div class="right-in-section-1">
      <h1 class="kufam-regular">Art</h1>
      <p class="kufam-regular">The Origin Museum offers a captivating journey through art, history, and culture. Explore our diverse collections 
        and engaging exhibitions that inspire and educate visitors of all ages. Join Us
      </p>
      <button class="botao">Tickets</button>
  </div>
</div>

<div class="section-2">
    <div class="left-in-section">
        <img class="image-border-2" src="../../../assets/images/art/imagem2_container_art.jpg" alt="Descrição da imagem">
    </div>
    <div class="right-in-section-2">
        <h1 class="kufam-regular">Division of Art</h1>
        <p class="kufam-regular">In the art division we can glimpse with our own eyes each painting, sculpture, and artistic object that is presented.
            Each exhibition has its own unique feature and you will have different experiences in each one!
        </p>
    </div>
</div>

<div class="exhibitions">

  <div class="exhibition-text">
    <h2 class="kufam-regular">Exhibitions</h2>
    <p class="kufam-regular">Discover All The Exhibitions We Have To Offer At The Museum!</p>
  </div>

  <div class="exhibition-grid">
    <div class="exhibition-item">
      <img src="../../../assets/images/art/classic_art.jpg" alt="Classical and Ancient Art">
      <div class="comment-box">
        <p class="kufam-regular">Classical And Ancient Art</p>
      </div>
    </div>
    <div class="exhibition-item">
      <img src="../../../assets/images/art/medieval_art.jpg" alt="Medieval Art">
      <div class="comment-box">
        <p class="kufam-regular">Medieval Art</p>
      </div>
    </div>
    <div class="exhibition-item">
      <img src="../../../assets/images/art/sculptures_art.jpg" alt="Sculptures">
      <div class="comment-box">
        <p class="kufam-regular">Sculptures</p>
      </div>
    </div>
    <div class="exhibition-item">
      <img src="../../../assets/images/art/modern_art.png" alt="Modern Art">
      <div class="comment-box">
        <p class="kufam-regular">Modern Art</p>
      </div>
    </div>
    <div class="exhibition-item">
      <img src="../../../assets/images/art/painters_art.jpg" alt="Painters and Their History">
      <div class="comment-box">
        <p class="kufam-regular">Painters And Their History</p>
      </div>
    </div>
  </div>
</div>

<div class="gallery">
  <div class="gallery-text">
    <h2 class="kufam-regular">Photo Gallery</h2>
    <p class="kufam-regular">See some photos of our exhibitions!</p>
  </div>

  <div class="gallery-display">
    <div id="big-frame">
      <img [src]="bigFrameImage" alt="Not loading">
    </div>

    <div class="small-frames">
      <img src="../../../assets/images/art/art-display1.jpg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/art/art-display1.jpg")'>
      <img src="../../../assets/images/art/sf-art-1.jpg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/art/sf-art-1.jpg")'>
      <img src="../../../assets/images/art/sf-art-2.png" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/art/sf-art-2.png")'>
      <img src="../../../assets/images/art/sf-art-3.jpg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/art/sf-art-3.jpg")'>
      <img src="../../../assets/images/art/sf-art-4.jpg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/art/sf-art-4.jpg")'>
      <img src="../../../assets/images/art/sf-art-5.jpg" alt="Not loading" (click)='updateBigFrameImage("../../../assets/images/art/sf-art-5.jpg")'>

    </div>
  </div>
  
</div>

