<div class="first-container">
    <div class="primeira_imagem">
        <img src="../../../assets/images/imagem1_container_art.png" alt="Descrição da imagem">
    </div>
    <div class="descricao_apresentacao">
        <h1>Art</h1>
        <p>The Origin Museum offers a captivating journey through art, history, and culture. Explore our diverse collections 
            and engaging exhibitions that inspire and educate visitors of all ages. Join Us
        </p>
        <button class="botao">Tickets</button>
    </div>
</div>
<div class="second-container">
    <div class="segunda_imagem">
        <img src="../../../assets/images/imagem2_container_art.jpg" alt="Descrição da imagem">
    </div>
    <div class="segunda_descricao">
        <h1>Division of Art</h1>
        <p>In the art division we can glimpse with our own eyes each painting, sculpture, and artistic object that is presented.
            Each exhibition has its own unique feature and you will have different experiences in each one!
        </p>
    </div>
</div>