.news-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 20px;
}

.news-container{
    background: url('../../../assets/images/tiles/brown-tile.png') repeat;
    height: 553px;
  }

.news-container h1 {
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
    background: linear-gradient(90deg, #FFC700 0%, #E27C05 50.5%, #FBBD44 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Estilos para botão "Buy Ticket" */
.btn-buyticket {
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
}

.btn-buyticket:hover {
    background-color: #333;
}
