<div class="news-container kufam-regular">
    <h1>News</h1>
    <button class="btn-buyticket">Tickets</button>
</div>
<div class="news-container1 kufam-regular">
    <h2>News</h2>
    <p>Stay up to date with all our news and updates!</p>
</div>
<div class="news-grid">
    <div class="news-item kufam-regular">
        <img src="../../../assets/images/news/news1.jpg" alt="New1">
        <div class="news-details">
            <h4>New fossil found will be displayed at the Origin Museum</h4>
            <p>A new fossil of a dinosaur that was extinct more than 252 million years ago was found in Mongolia. Researchers determined it could be a new type of predator.</p>
        </div>
    </div>
    <div class="news-item kufam-regular">
        <img src="../../../assets/images/news/news2.jpg" alt="New2">
        <div class="news-details">
            <h4>1st year anniversary of the Ancient Egypt Division scheduled for July 10th!</h4>
            <p>To celebrate the 1st year anniversary of the opening of the Ancient Egypt Division, an event will be held where everyone is invited! We will have several activities and food.</p>
        </div>
    </div>
    <div class="news-item kufam-regular">
        <img src="../../../assets/images/news/news3.jpg" alt="New3">
        <div class="news-details">
            <h4>Painting was restored and returned to the Origin museum!</h4>
            <p>The painting "Harvest Delight" will once again be presented at the Origin museum. The painting had left the presentation due to restoration and after a few months it will finally return on June 23rd!</p>
        </div>
    </div>
    <div class="news-item kufam-regular">
        <img src="../../../assets/images/news/news4.jpg" alt="New4">
        <div class="news-details">
            <h4>Origin Museum adopts virtual reality for more immersive experiences</h4>
            <p>Museum visitors can now see representations of: "Jurassic World", "Ancient Egypt" and "Art History" through virtual reality! Available June 1, 2024. Visit Origin Museum to try it out!</p>
        </div>
    </div>
    <div class="news-item kufam-regular">
        <img src="../../../assets/images/news/news5.jpg" alt="New5">
        <div class="news-details">
            <h4>Museum Launches Summer Educational Program for Children</h4>
            <p>The Origin Museum has launched a new summer educational program aimed at children ages 8 to 12. The program includes art workshops, fossil exploration sessions and activities about Egyptian culture.</p>
        </div>
    </div>
    <div class="news-item kufam-regular">
        <img src="../../../assets/images/news/news6.jpg" alt="New6">
        <div class="news-details">
            <h4>Museum Organizes Themed Cinema Night</h4>
            <p>The Origin Museum is hosting a Themed Cinema Night, showing a film about Ancient Egypt. The event will be held in the museum garden, on May 22nd. There will also be the presence of experts at the end.</p>
        </div>
    </div>
</div>