<div class="home-container kufam-regular">
    <h1>Join This Journey to Discover <br>The origins of the World! </h1>
    <p>The Origin Museum Offers A Captivating journey Through Art, History, And Culture. Explore Our Diverse Collections 
    <br> And Engaging Exhibitions That Inspire And Educate Visitors Of All Ages. Join Us</p>
    <button class="btn-buyticket">Tickets</button>
</div>
<div class="themes">
    <div class="image-container">
        <img src="../../../assets/images/home/art_home.jpg" alt="Imagem Art">
        <div class="overlay kufam-regular">Art</div>
    </div>
    <div class="image-container">
        <img src="../../../assets/images/home/egypt_home.png" alt="Image Egypt">
        <div class="overlay kufam-regular">Egypt</div>
    </div>
    <div class="image-container">
        <img src="../../../assets/images/home/fossils.png" alt="Image Fossils">
        <div class="overlay kufam-regular">Fossils</div>
    </div>
</div>
<div class="history-container">
    <div class="left-in-section">
        <img class="image-border-2" src="../../../assets/images/home/main_image_section2.png" alt="Descrição da imagem">
    </div>
    <div class="right-in-section-2">
        <h1 class="kufam-regular">History of the origin museum</h1>
        <p class="kufam-regular">The origin museum opened in 2023 and has a wide variety of works of art, relics, extraordinary pieces and lots of events! 
            With the support of Gonçalo Gonçalves, João Oliveira and Rui Rodrigues, it was possible to build such a large mast for the city of Barcelos and for Portugal.
        </p>
        <button class="btn-buyticket">Read More</button>
    </div>
</div>

<div class="home-news-container kufam-regular">
    <h2>News</h2>
    <p>Stay up to date with all our news and updates!</p>
</div>

<div class="news-grid">
    <div class="news-item kufam-regular">
        <img src="../../../assets/images/events/monday_figure.jpg" alt="Monday Event">
        <div class="news-details">
            <h4>Impressionist Style Painting Worksho</h4>
            <p>A hands-on workshop where participants can learn and practice impressionist painting  techniques, guided by a local artist.</p>
            <p>Time: 14:00 - 16:00</p>
            <p> Art Workshop Room</p>
            <button class="day-square">Monday</button>

        </div>
    </div>
    <div class="news-item kufam-regular">
        <img src="../../../assets/images/events/Wednesday_figure.jpg" alt="Wednesday">
        <div class="news-details">
            <h4>Life and Culture in Ancient Egyp</h4>
            <p>A hands-on workshop where participants can learn and practice impressionist painting  techniques, guided by a local artist.</p>
            <p>Time: 14:00 - 16:00</p>
            <p> Art Workshop Room</p>
            <button class="day-square">Wednesday</button>
        </div>
    </div>
    <div class="news-item kufam-regular">
        <img src="../../../assets/images/events/Friday_image.jpg" alt="Friday">
        <div class="news-details">
            <h4>Dinosaur Fossils</h4>
            <p>A guided tour of the dinosaur fossil exhibits, with detailed explanations about the species displayed and the fossilization process.</p>
            <p>Time: 10:00 - 11:30</p>
            <p>Location: Paleontology Gallery</p>
            <button class="day-square">Friday</button>
        </div>
    </div>
</div>  

    