.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: url('../../../assets/images/tiles/brown-tile.png') repeat;
    height: 553px;
}

.home-container h1 {
    margin-bottom: 10px;
    text-transform: capitalize;
    background: linear-gradient(90deg, #FFC700 0%, #E27C05 50.5%, #FBBD44 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-container p {
    color: white;
}

/* Estilos para botão "Buy Ticket" */
.btn-buyticket {
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
}

.btn-buyticket:hover, .btn-read:hover {
    background-color: #333;
}

.themes {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.image-container {
    flex: 1;
    margin: 0 10px;
    position: relative;
    display: flex;
    justify-content: center;
    img {
        width: 380px;
        height: 475px;
        object-fit: cover;
    }
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 140px;
    margin-right: auto;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 5px;
}

.history-container {
    display: flex; 
    height: 553px;
}

.left-in-section, .right-in-section-2 {
    width: 50%; 
}

.left-in-section {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}

.image-border-2 {
    max-width: 100%;
    max-height: 80%; 
    border-radius: 5px;
}

.right-in-section-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 70px;
    height: 100%;
    
    h1 {
        font-size: 60px;
        margin-bottom: 10px;
        text-transform: capitalize;
        color: black;
    }
  
    p {
        text-align: left;
        color: black;
    }
}

.news-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 80px;
}

.news-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 402px;
    //height: 406px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);

    img {
        width: 100%;
        height: 311px;
        object-fit: cover;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
}

.news-details {
    padding: 20px;
}

.news-details p {
    font-size: 20px;
    color: #5F5C5C;
}

.day-square{
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    width: 100%;
}

.home-news-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 20px;
}

.news-container p, .home-news-container p {
    font-family: Kufam;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    color: #5F5C5C;
    margin: 10px;
}
