<div class="home-container kufam-regular">
    <h1>Join This Journey to Discover <br>The origins of the World! </h1>
    <p>The Origin Museum Offers A Captivating journey Through Art, History, And Culture. Explore Our Diverse Collections 
    <br> And Engaging Exhibitions That Inspire And Educate Visitors Of All Ages. Join Us</p>
    <a class="btn-buyticket" href="/tickets">Tickets</a>
</div>
<div class="themes">
    <div class="image-container">
        <div class="imgc">
            <a href="art">
                <img src="../../../assets/images/home/art_home.jpg" alt="Imagem Art">
            </a>
        </div>
        <div class="overlay kufam-regular">Art</div>
    </div>

    <div class="image-container">
        <div class="imgc">
            <a href="egypt">
                <img src="../../../assets/images/home/egypt_home.png" alt="Image Egypt">
            </a>
        </div>
        <div class="overlay kufam-regular">Egypt</div>
    </div>

    <div class="image-container">
        <div class="imgc">
            <a href="fossils">
                <img src="../../../assets/images/home/fossils.png" alt="Image Fossils">
            </a>
        </div>
        <div class="overlay kufam-regular">Fossils</div>
    </div>
</div>
<div class="history-container">
    <div class="left-in-section">
        <img class="image-border-2" src="../../../assets/images/home/main_image_section2.png" alt="Descrição da imagem">
    </div>
    <div class="right-in-section-2">
        <h1 class="kufam-regular">History of the origin museum</h1>
        <p class="kufam-regular">The origin museum opened in 2023 and has a wide variety of works of art, relics, extraordinary pieces and lots of events! 
            With the support of Gonçalo Gonçalves, João Oliveira and Rui Rodrigues, it was possible to build such a large mast for the city of Barcelos and for Portugal.
        </p>
        <a href="about-us">
            <button class="btn-buyticket">Read More</button>
        </a>
    </div>
</div>

<div class="home-news-container kufam-regular">
    <h2>News</h2>
    <p>Stay up to date with all our news and updates!</p>
</div>

<div class="news-grid">
    <div class="news-item kufam-regular">
        <img src="../../../assets/images/news/news1.jpg" alt="Monday Event">
        <div class="news-details">
            <h4>New fossil found will be 
                displayed at the Origin Museum</h4>
            <p>A new fossil of a dinosaur that was extinct more than 252 million years ago was found in Mongolia. Researchers determined it could be a new type of predator.</p>
            <p>08/06/24</p>
        </div>
    </div>
    <div class="news-item kufam-regular">
        <img src="../../../assets/images/news/news2.jpg" alt="Wednesday">
        <div class="news-details">
            <h4>1st anniversary of 
                the Ancient Egypt Division 
                scheduled for July 10th!</h4>
            <p>To celebrate the 1st year anniversary of 
                the opening of the Ancient Egypt Division, 
                an event will be held where everyone is 
                invited! We will have several activities and 
                food.</p>
            <p>01/06/24</p>
        </div>
    </div>
    <div class="news-item kufam-regular">
        <img src="../../../assets/images/news/news3.jpg" alt="Friday">
        <div class="news-details">
            <h4>Painting was restored and 
                returned to the Origin museum!</h4>
            <p>The painting "Harvest Delight" will once again 
                be presented at the Origin museum. 
                It had left the presentation for 
                restoration. It will be returned on June 23rd!</p> 
            <p>24/05/24</p>
        </div>
    </div>
</div>  
<div class="news-more">
    <a href="news">
        <button class="btn-buyticket">Read More</button>
    </a>
</div>


    