<div class="home-container kufam-regular">
    <h1>Join This Journey to Discover <br>The origins of the World! </h1>
    <p>The Origin Museum Offers A Captivating journey Through Art, History, And Culture. Explore Our Diverse Collections 
    <br> And Engaging Exhibitions That Inspire And Educate Visitors Of All Ages. Join Us</p>
    <button class="btn-buyticket">Tickets</button>
</div>
<div class="themes">
    <div class="image-container">
        <img src="../../../assets/images/home/art_home.jpg" alt="Imagem Art">
        <div class="overlay kufam-regular">Art</div>
    </div>
    <div class="image-container">
        <img src="../../../assets/images/home/egypt_home.png" alt="Image Egypt">
        <div class="overlay kufam-regular">Egypt</div>
    </div>
    <div class="image-container">
        <img src="../../../assets/images/home/fossils.png" alt="Image Fossils">
        <div class="overlay kufam-regular">Fossils</div>
    </div>
</div>
    <div class="history-container">
        <div class="left-in-section">
            <img class="image-border-2" src="../../../assets/images/home/main_image_section2.png" alt="Descrição da imagem">
        </div>
        <div class="right-in-section">
            <h1 class="kufam-regular">History of the origin museum</h1>
            <p class="kufam-regular">The origin museum opened in 2023 and has a wide variety of works of art, relics, extraordinary pieces and lots of events! 
                With the support of Gonçalo Gonçalves, João Oliveira and Rui Rodrigues, it was possible to build such a large mast for the city of Barcelos and for Portugal.
            </p>
            <button class="btn-buyticket">Read More</button>
        </div>
    </div>
    