<div class="event-container kufam-regular">
    <h1>Events</h1>
    <button class="btn-buyticket">Tickets</button>
</div>
<div class="weekly-events-container kufam-regular">
    <h2>Weekly Events</h2>
    <p>In Origin Museum we have one event per day!</p>
    <p>To choose the event you want to see the most, watch Here!</p>
</div>
<div class="event-grid">
    <div class="event-item kufam-regular">
        <img src="../../../../src/assets/images/events/monday_figure.jpg" alt="Monday Event">
        <div class="event-details">
            <h4>Impressionist Style Painting Worksho</h4>
            <p>A hands-on workshop where participants can learn and practice impressionist painting  techniques, guided by a local artist.</p>
            <p>Time: 14:00 - 16:00</p>
            <p> Art Workshop Room</p>
            <button class="btn-buyticket">Monday</button>

        </div>
    </div>
    <div class="event-item kufam-regular">
        <img src="../../../../src/assets/images/events/Wednesday_figure.jpg" alt="Wednesday">
        <div class="event-details">
            <h4>Life and Culture in Ancient Egyp</h4>
            <p>A hands-on workshop where participants can learn and practice impressionist painting  techniques, guided by a local artist.</p>
            <p>Time: 14:00 - 16:00</p>
            <p> Art Workshop Room</p>
            <button class="btn-buyticket">Wednesday</button>
        </div>
    </div>
    <div class="event-item kufam-regular">
        <img src="../../../../src/assets/images/events/Friday_figure.jpg" alt="Friday">
        <div class="event-details">
            <h4>Dinosaur Fossils</h4>
            <p>A guided tour of the dinosaur fossil exhibits, with detailed explanations about the species displayed and the fossilization process.</p>
            <p>Time: 10:00 - 11:30</p>
            <p>Location: Paleontology Gallery</p>
            <button class="btn-buyticket">Friday</button>
        </div>
</div>


