<div class="event-container kufam-regular">
    <h1>Events</h1>
    <button class="btn-buyticket">Tickets</button>
</div>
<div class="weekly-events-container kufam-regular">
    <h2>Weekly Events</h2>
    <p>In Origin Museum we have one event per day!</p>
    <p>To choose the event you want to see the most, watch Here!</p>
</div>
<div class="event-grid">
    <div class="event-item kufam-regular">
        <img src="../../../assets/images/events/monday_figure.jpg" alt="Monday Event">
        <div class="event-details">
            <h4>Impressionist Style Painting Worksho</h4>
            <p>A hands-on workshop where participants can learn and practice impressionist painting  techniques, guided by a local artist.</p>
            <p>Time: 14:00 - 16:00</p>
            <p> Art Workshop Room</p>
            <button class="day-square">Monday</button>

        </div>
    </div>
    <div class="event-item kufam-regular">
        <img src="../../../assets/images/events/Wednesday_figure.jpg" alt="Wednesday">
        <div class="event-details">
            <h4>Life and Culture in Ancient Egyp</h4>
            <p>A hands-on workshop where participants can learn and practice impressionist painting  techniques, guided by a local artist.</p>
            <p>Time: 14:00 - 16:00</p>
            <p> Art Workshop Room</p>
            <button class="day-square">Wednesday</button>
        </div>
    </div>
    <div class="event-item kufam-regular">
        <img src="../../../assets/images/events/Friday_image.jpg" alt="Friday">
        <div class="event-details">
            <h4>Dinosaur Fossils</h4>
            <p>A guided tour of the dinosaur fossil exhibits, with detailed explanations about the species displayed and the fossilization process.</p>
            <p>Time: 10:00 - 11:30</p>
            <p>Location: Paleontology Gallery</p>
            <button class="day-square">Friday</button>
        </div>
    </div>
    <div class="event-item kufam-regular">
        <img src="../../../assets/images/events/sat_img.jpg" alt="Saturday">
        <div class="event-details">
            <h4>Fossil Preparation Workshop</h4>
            <p>A workshop where participants can experience fossil preparation, from excavation to cleaning and preservation.</p>
            <p>Time: 14:00 - 16:00</p>
            <p>Location: Paleontology Laboratory</p>
            <button class="day-square">Saturday</button>
        </div>
    </div>
    <div class="event-item kufam-regular">
        <img src="../../../assets/images/events/sun_img.jpg" alt="Sunday">
        <div class="event-details">
            <h4>Treasure Hunt at the Museum</h4>
            <p>A themed treasure hunt for families, with clues spread throughout the museum's different exhibits. Each clue leads to a new discovery about art, fossils and Ancient Egypt.</p>
            <p>Time: 15:00 - 17:00</p>
            <p>Location: The whole Museum</p>
            <button class="day-square">Sunday</button>
        </div>
    </div>
</div>


