.evaluation-1container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 20px;
}

.evaluation-1container {
    background: url('../../../assets/images/tiles/brown-tile.png') repeat;
    height: 553px;
  }

.evaluation-1container  h1 {
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
    background: linear-gradient(90deg, #FFC700 0%, #E27C05 50.5%, #FBBD44 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.evaluation-container {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.evaluation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
}

button[type="submit"]:hover {
    background-color: #333;
}
